.entity-grid {
    display: grid;
    grid-template-columns: repeat(63, minmax( 100px, 1fr));
    grid-column-gap: 5px;
    grid-row-gap: 10px;   
    overflow: visible;

  }
  
  .entity-grid > span {

    overflow-wrap: break-word;
    padding: 3px;
    background-color: #fff;
  }

  
  
  .entity-grid .header {
    font-weight: bold;
    overflow-wrap: break-word;
    background-color: #282c34;
    color: white;
  
  }
  