.heroBanner {
    background-color: #282c34;
    color: #fff;
    grid-column: 1/4;
    /* grid-template-rows: minmax(100vw, 1fr); */
    border: 1px solid red;
    /* grid-auto-columns: minmax(100vw, auto); */
  }

  .heroContent {
    position: fixed;
    border: 1px solid blue;
    width: 100%;
    background-color: #282c34;
    padding: 20px;
  }

  .heroBanner h1 {
    display: inline;
    padding: 0 20px;

  }
  
  .link {
    background-color: white;
    padding: 10px 20px;
    border: 1px solid violet;
    margin: 5px;
    display: inline;
  }

  .button-mode {
    right: 7vw;
    position: absolute;
  }

  .button-view {
    right: 11vw;
    position: absolute;
  }
  