.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    background-color: rgb(238, 239, 255);
}

.App-menu {
  padding: 50px 10px;
  background-color: #282c34;
  color: #fff;
}

