.App {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-gap: 1px;

    font-size: 12px;

    grid-template-rows: minmax(75px, 1fr);
  
    overflow-x: scroll;

    scroll-snap-type: x proximity;

    grid-auto-columns: minmax(50px, auto);
}

.grid-content {
    grid-column: 2/3;
}


.App-daymode {
  background-color: rgb(238, 239, 255);
}
.App-nightmode {
  background-color: #1f2229;
}

  .nightmode {
    background-color: #30353f;
    color: white;
  }
  
  .daymode {
    background-color: #fff;
    color: #282c34;
  }
